[package]
name = "example"
version = "0.1.0"
edition = "2024"

[dependencies]

[lints.clippy]
all = "warn"

pedantic = "warn"
cargo = "warn"

unwrap_used = "deny"
expect_used = "deny"

[profile.release]
lto = "thin"
